.feat-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
p {
  max-width: 550px;
  text-align: center;
  color: #555;
  margin-bottom: 50px;
}
.feat-sec .tabs {
  display: flex;
  flex-direction: column;
}
.feat-sec .tabs nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feat-sec .tabs nav ul {
display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #555 ;
  max-width: 600px;
}
.feat-sec .tabs nav ul a {
list-style-type: none;
color: #555;
margin: auto 20px;
padding-bottom: 20px;
text-decoration: none;
}
.feat-sec .tabs nav ul a:hover{
  color: var(--red);
}
.feat-sec .tabs nav ul a:active{
  color: #000;
  border-bottom: 3px solid var(--red);
}
#tab-1 ,
#tab-2 , 
#tab-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pic-tab {
  max-height: 110vh;
}
.pic-tab img {
  width: 575px;
  position: relative;
  top: 80px;
}
.bk-box-2 {
width: 500px;
  height: 350px;
  background-color: var(--blue);
  border-radius: 0 50% 50% 0;
  position: relative;
  bottom: 200px;
  z-index: -1;
  left: -65px;
}
.text-tab {
max-width: 425px;
  justify-content: left;
  align-items: last baseline;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}
.text-tab h3 {
  text-align: left;
}
.text-tab p {
  color: #555;
  text-align: left;
}
.dow-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 30px;
  margin-bottom: 150px;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.card {
align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: relative;
}
.card img {
  margin-bottom: 20px;
}
.ps2 {
  top: 50px;
}
.ps3 {
  top: 100px;
}
.faq-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
details summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
details[open] summary{
  color: var(--red);
}
details[open] summary i {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
details{
  width: 500px;
  border-top: 1px solid #555;
  padding: 15px 0;
}
details:last-of-type {
  border-bottom: 1px solid #555;
}
.fa-solid {
  color: var(--blue);
}
details p {
  margin: 15px 0;
  text-align: left;
}
.faq-div {
  margin-bottom: 25px;
}
.input-sec {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  margin-bottom: 0;
}
.input-sec h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
.input-sec h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 400px;
}
.input-sec input {
  height: 40px;
  border-radius: 5px;
  border: transparent;
}
.input-sec button {
      border: 1px solid transparent;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--gray);
  padding: 10px 20px;
  font-size: 16px;
}
.input-sec button:hover {
background-color: white;
color: var(--red);
border: 1px solid var(--red);
}
.bookmark-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 125px;
}
footer div {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.fa-bookmark {
  color: white;
}
footer h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-left: 15px;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer li {
  list-style-type: none;
  color: white;
}
.icons img {
margin-left: 30px;
}
.icons img:hover {
  cursor: pointer;
}
@media (max-width:400px) {
    .feat-sec .tabs nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feat-sec .tabs nav ul {
  flex-direction: column;
  border: none;
  align-items: center;
  width: 70%;
}
.feat-sec nav ul a {
  width: 70%;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #555;
  color: white;
  margin: 10px 0;
  }
.feat-sec nav ul a:first-child{
  border-top: 1px solid white;
}
.bk-box-2 {
width: 80%;
    height: 190px;
    top: -60px;
    left: -20px;
}
.pic-tab img {
  bottom: 60px;
  right: 0px;
  width: 325px;
}
#tab-1, #tab-2, #tab-3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
}
.text-tab {
  align-items: center;
}
.cards {
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr;
}
.faq-div {
  margin: 25px 5%;
}
details {
  width: auto;
}
.input-sec {
  margin: 25px 0 0 0;
}
.input-sec button {
  width: 100%;
  margin-top: 20px;
}
footer {
  flex-direction: column;
}
footer nav {
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
footer ul {
  flex-direction: column;
}
.icons img {
  margin: 20px;
}
}