:root{
    --blue : hsl(231, 69%, 60%);
    --red : hsl(0, 94%, 66%);
    --gray : hsl(0, 0%, 97%);
    --dark-blue : hsl(229, 31%, 21%);
}

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "rubik";
    font-weight: 400 ;
  }
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px 125px;
}
header img {
  height: 35px;
}
header nav ul {
display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
header nav ul li {
 list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
}
li:hover{
  color: var(--red);
  cursor: pointer;
}
.login {
border: 1px solid var(--red);
  background-color: var(--red);
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}
.login:hover {
  background-color: white;
  color: var(--red);
}
section {
  margin: 50px 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}
.hero .text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: 125px;
  margin-right: 30px;
}
.hero .text-box h1 {
font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero .text-box p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}
.hero .text-box div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

button {
  border: 1px solid transparent;
  background-color: var(--gray);
  border-radius: 5px;
  color: #555;
  padding: 10px 20px;
  font-size: 16px;
}
button:hover{
  cursor: pointer;
  border:1px solid #555;
}
.blue-btn {
  background-color: var(--blue);
  color: var(--gray);
}
.blue-btn:hover{
  background-color: white;
  color: var(--blue);
  border: 1px solid var(--blue);
}
.hero .pic-box img {
width: 585px;
  position: relative;
  bottom: 60px;
  right: 37px;
}
.hero .pic-box .bk-box {
width: 585px;
  height: 350px;
  background-color: var(--blue);
  border-radius: 50% 0 0 50%;
  position: relative;
  top: 060px;
  z-index: -1;
  right: -29px;
}

@media (max-width:400px) {
  header {
    margin: 20px 5%;
  }
  header img {
  height: 20px;
}
#hamburger {
  display: block;
}
header nav ul{
  flex-direction: column;
  gap: 0;
}
header nav ul li , header nav ul .login {
  border: none;
  border-radius: 0;
  width: 70%;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid white;
  color: white;
  background-color: var(--dark-blue);

  }
header nav ul li:first-child{
  border-top: 1px solid white;
}
header nav ul li:hover {
  border: 3px solid white;
}
.top-nav {
  background-color: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: white;
  padding-top: 100px;
  top: 0;
  left: 0;
  display: none;
}
.top-nav div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.top-nav img {
  display: block;
}
.top-nav h2 {
  margin-bottom: 0;
}
.logo-menu {
  margin-bottom: 25px;
}
.hero {
  display: flex;
  flex-direction: column-reverse;
}
.pic-box {
margin: 0;
  width: 100vw;
}
.hero .pic-box .bk-box {
  width: 80%;
  height: 190px;
  top: 060px;
  right: -75px;
  margin-bottom: 70px;
}
.hero .pic-box img {
  bottom: 60px;
  right: 37px;
  width: 325px;
}
.hero .text-box {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.hero .text-box h1 {
  font-size: 30px;
}
p {
  font-size: 14px;
}
button {
  padding: 10px 8px;
}
section {
  margin: 50px 5%;
}

}
