:root{
    --blue : hsl(231, 69%, 60%);
    --red : hsl(0, 94%, 66%);
    --gray : hsl(0, 0%, 97%);
    --dark-blue : hsl(229, 31%, 21%);
}

.rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "rubik";
    font-weight: 400 ;
  }
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 50px 125px;
}
header img {
  height: 35px;
}
header nav ul {
display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
header nav ul li {
 list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
}
li:hover{
  color: var(--red);
  cursor: pointer;
}
.login {
border: 1px solid var(--red);
  background-color: var(--red);
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
}
.login:hover {
  background-color: white;
  color: var(--red);
}
section {
  margin: 50px 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}
.hero .text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-left: 125px;
  margin-right: 30px;
}
.hero .text-box h1 {
font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero .text-box p {
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}
.hero .text-box div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

button {
  border: 1px solid transparent;
  background-color: var(--gray);
  border-radius: 5px;
  color: #555;
  padding: 10px 20px;
  font-size: 16px;
}
button:hover{
  cursor: pointer;
  border:1px solid #555;
}
.blue-btn {
  background-color: var(--blue);
  color: var(--gray);
}
.blue-btn:hover{
  background-color: white;
  color: var(--blue);
  border: 1px solid var(--blue);
}
.hero .pic-box img {
width: 585px;
  position: relative;
  bottom: 60px;
  right: 37px;
}
.hero .pic-box .bk-box {
width: 585px;
  height: 350px;
  background-color: var(--blue);
  border-radius: 50% 0 0 50%;
  position: relative;
  top: 060px;
  z-index: -1;
  right: -29px;
}
.feat-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
p {
  max-width: 550px;
  text-align: center;
  color: #555;
  margin-bottom: 50px;
}
.feat-sec .tabs {
  display: flex;
  flex-direction: column;
}
.feat-sec .tabs nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feat-sec .tabs nav ul {
display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #555 ;
  max-width: 600px;
}
.feat-sec .tabs nav ul a {
list-style-type: none;
color: #555;
margin: auto 20px;
padding-bottom: 20px;
text-decoration: none;
}
.feat-sec .tabs nav ul a:hover{
  color: var(--red);
}
.feat-sec .tabs nav ul a:active{
  color: #000;
  border-bottom: 3px solid var(--red);
}
#tab-1 ,
#tab-2 , 
#tab-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.pic-tab {
  max-height: 110vh;
}
.pic-tab img {
  width: 575px;
  position: relative;
  top: 80px;
}
.bk-box-2 {
width: 500px;
  height: 350px;
  background-color: var(--blue);
  border-radius: 0 50% 50% 0;
  position: relative;
  bottom: 200px;
  z-index: -1;
  left: -65px;
}
.text-tab {
max-width: 425px;
  justify-content: left;
  align-items: last baseline;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}
.text-tab h3 {
  text-align: left;
}
.text-tab p {
  color: #555;
  text-align: left;
}
.dow-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 30px;
  margin-bottom: 150px;
}
h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.card {
align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 20px 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  position: relative;
}
.card img {
  margin-bottom: 20px;
}
.ps2 {
  top: 50px;
}
.ps3 {
  top: 100px;
}
.faq-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
details summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
details[open] summary{
  color: var(--red);
}
details[open] summary i {
  transform: rotate(180deg);
  transition: transform 0.3s;
}
details{
  width: 500px;
  border-top: 1px solid #555;
  padding: 15px 0;
}
details:last-of-type {
  border-bottom: 1px solid #555;
}
.fa-solid {
  color: var(--blue);
}
details p {
  margin: 15px 0;
  text-align: left;
}
.faq-div {
  margin-bottom: 25px;
}
.input-sec {
  background-color: var(--blue);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
  margin-bottom: 0;
}
.input-sec h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
.input-sec h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  max-width: 400px;
}
.input-sec input {
  height: 40px;
  border-radius: 5px;
  border: transparent;
}
.input-sec button {
      border: 1px solid transparent;
  background-color: var(--red);
  border-radius: 5px;
  color: var(--gray);
  padding: 10px 20px;
  font-size: 16px;
}
.input-sec button:hover {
background-color: white;
color: var(--red);
border: 1px solid var(--red);
}
.bookmark-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}
footer {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 125px;
}
footer div {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.fa-bookmark {
  color: white;
}
footer h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-left: 15px;
}
footer nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
footer li {
  list-style-type: none;
  color: white;
}
.icons img {
margin-left: 30px;
}
.icons img:hover {
  cursor: pointer;
}
@media (max-width:400px) {
  header {
    margin: 20px 5%;
  }
  header img {
  height: 20px;
}
#hamburger {
  display: block;
}
header nav ul{
  flex-direction: column;
  gap: 0;
}
header nav ul li , header nav ul .login {
  border: none;
  border-radius: 0;
  width: 70%;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid white;
  color: white;
  background-color: var(--dark-blue);

  }
header nav ul li:first-child{
  border-top: 1px solid white;
}
header nav ul li:hover {
  border: 3px solid white;
}
.top-nav {
  background-color: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  position: absolute;
  color: white;
  padding-top: 100px;
  top: 0;
  left: 0;
  display: none;
}
.top-nav div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.top-nav img {
  display: block;
}
.top-nav h2 {
  margin-bottom: 0;
}
.logo-menu {
  margin-bottom: 25px;
}
.hero {
  display: flex;
  flex-direction: column-reverse;
}
.pic-box {
margin: 0;
  width: 100vw;
}
.hero .pic-box .bk-box {
  width: 80%;
  height: 190px;
  top: 060px;
  right: -75px;
  margin-bottom: 70px;
}
.hero .pic-box img {
  bottom: 60px;
  right: 37px;
  width: 325px;
}
.hero .text-box {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.hero .text-box h1 {
  font-size: 30px;
}
p {
  font-size: 14px;
}
button {
  padding: 10px 8px;
}
section {
  margin: 50px 5%;
}
.feat-sec .tabs nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.feat-sec .tabs nav ul {
  flex-direction: column;
  border: none;
  align-items: center;
  width: 70%;
}
.feat-sec nav ul a {
  width: 70%;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #555;
  color: white;
  margin: 10px 0;
  }
.feat-sec nav ul a:first-child{
  border-top: 1px solid white;
}
.bk-box-2 {
width: 80%;
    height: 190px;
    top: -60px;
    left: -20px;
}
.pic-tab img {
  bottom: 60px;
  right: 0px;
  width: 325px;
}
#tab-1, #tab-2, #tab-3 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: none;
}
.text-tab {
  align-items: center;
}
.cards {
  grid-template-columns: none;
  grid-template-rows: 1fr 1fr 1fr;
}
.faq-div {
  margin: 25px 5%;
}
details {
  width: auto;
}
.input-sec {
  margin: 25px 0 0 0;
}
.input-sec button {
  width: 100%;
  margin-top: 20px;
}
footer {
  flex-direction: column;
}
footer nav {
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
footer ul {
  flex-direction: column;
}
.icons img {
  margin: 20px;
}
}